<!-- Navigation -->
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<div class="dropdown">
				<a class="dropbtn">Insurgency</a>
				<div class="dropdown-content">
				  <a href="/ins1">Vanilla Coop 1</a>
				  <a href="/ins2">Bot Frenzy 2</a>
				  <a href="/ins3">Bot Frenzy 3</a>
				  <a href="/ins4">Bot Frenzy 4</a>
				</div>
			  </div>
		</li>
		<li><div class="dropdown">
			<a class="dropbtn">Sandstorm</a>
			<div class="dropdown-content">
			  <a href="/sandstorm/ss1">Beginners Coop</a>
			  <a href="/sandstorm/ss2">Hardcore Coop</a>
			</div>
		  </div>
		</li>
		<li><a href="https://discord.clan-fa.com" target="_blank">Discord</a></li>
		<li><a href="#donate" onClick="window.open('/donate','targetWindow','resizable, height=600,width=600'); return false;">Donate</a></li>
		<li><a href="/api">API</a></li>
	</ul>
</nav>